[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
setuptools = "*"
"e1839a8" = {path = ".", editable = true}

[requires]
python_version = "3.6"

[scripts]

ch1_ex1_sc1 = "solutions/exercises/R/ch1/ex1/using_modulo"
ch1_ex1_sc2 = "solutions/exercises/R/ch1/ex1/without_modulo"
ch1_ex2_sc1 = "solutions/exercises/R/ch1/ex2/is_even"
ch1_ex3_sc1 = "solutions/exercises/R/ch1/ex3/minmax"
ch1_ex4_sc1 = "solutions/exercises/R/ch1/ex4/sum_of_squares"
ch1_ex5_sc1 = "solutions/exercises/R/ch1/ex5/sum_of_squares"
ch1_ex6_sc1 = "solutions/exercises/R/ch1/ex6/sum_of_odd_squares"
ch1_ex7_sc1 = "solutions/exercises/R/ch1/ex7/sum_of_odd_squares"
ch1_ex8_sc1 = "solutions/exercises/R/ch1/ex8/equivalent_index"

