[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
setuptools = "==63.2.0"
"data-structures-and-algorithms-in-python-solutions" = {path = ".", editable = true}
pytest = "==8.3.2"
matplotlib = "==3.9.2"

[requires]
python_version = "3.12.5"

[scripts]
